{% extends 'base.html' %}
{% load static %}


{% block productd_content %}

<main class="main">
    <nav aria-label="breadcrumb" class="breadcrumb-nav border-0 mb-0">
        <div class="container d-flex align-items-center">


            <nav class="product-pager ml-auto" aria-label="Product">
                <a class="product-pager-link product-pager-prev" href="#" aria-label="Previous" tabindex="-1">
                    <i class="icon-angle-left"></i>
                    <span>Prev</span>
                </a>

                <a class="product-pager-link product-pager-next" href="#" aria-label="Next" tabindex="-1">
                    <span>Next</span>
                    <i class="icon-angle-right"></i>
                </a>
            </nav><!-- End .pager-nav -->
        </div><!-- End .container -->
    </nav><!-- End .breadcrumb-nav -->

    <div class="page-content">
        <div class="container">
            <div class="product-details-top">
                <div class="row">
                    <div class="col-md-6">
                        <div class="product-gallery product-gallery-vertical">
                            <div class="row">
                                <figure class="product-main-image">
                                    <img id="product-zoom" src="{{ product.image.url }}" data-zoom-image="{{ product.image.url }}" alt="product image">

                                    <a href="#" id="btn-product-gallery" class="btn-product-gallery">
                                        <i class="icon-arrows"></i>
                                    </a>
                                </figure><!-- End .product-main-image -->

                                <div id="product-zoom-gallery" class="product-image-gallery">
                                    
                                    {% for p in pro_images %}
                                    <a class="product-gallery-item" href="#" data-image="{{ p.images.url }}" data-zoom-image="{{ p.images.url }}">
                                        <img src="{{ p.images.url }}" alt="product cross">
                                    </a>

                                    {% endfor %}
                                </div><!-- End .product-image-gallery -->
                            </div><!-- End .row -->
                        </div><!-- End .product-gallery -->
                    </div><!-- End .col-md-6 -->

                    <div class="col-md-6">
                        <div class="product-details">
                            <h1 class="product-title product-title-{{ product.id }}" id="product-title">{{ product.title }}</h1><!-- End .product-title -->

                            <div class="ratings-container">
                                <div class="ratings">
                                    <div class="ratings-val" style="width: 80%;"></div><!-- End .ratings-val -->
                                </div><!-- End .ratings -->
                                <a class="ratings-text" href="#product-review-link" id="review-link">( 2 Reviews )</a>
                            </div><!-- End .rating-container -->

                            <div class="product-price ">
                                <span class="product-price-{{ product.id }}">
                                    ${{ product.price }}
                                </span>

                            </div><!-- End .product-price -->

                            <div class="product-content">
                                <p>{{ product.description|safe }}</p>
                            </div><!-- End .product-content -->

                            <div class="details-filter-row details-row-size">
                                <div class="details-filter-row details-row-size">
                                    <label>Color:</label>

                                    <div class="product-nav product-nav-dots">
                                        <a href="#" class="active" style="background: #cc9966;"><span class="sr-only">Color name</span></a>
                                        <a href="#" style="background: #333333;"><span class="sr-only">Color name</span></a>
                                    </div><!-- End .product-nav -->
                                </div><!-- End .details-filter-row -->

                                <div class="product-nav product-nav-thumbs">
                                    <a href="#" class="active">
                                        <img src="{{ product.image.url }}" alt="product desc">
                                    </a>
                                    <a href="#">
                                        <img src="{{ product.image.url }}" alt="product desc">
                                    </a>
                                </div><!-- End .product-nav -->
                            </div><!-- End .details-filter-row -->

                            

                            <div class="details-filter-row details-row-size">
                                <label for="qty">Tags:</label>
                                <div class="product-details-quantity">
                                    
                                    <span>{% for tag in product.tags.all %}<a href="{% url 'sitepages:tag' tag.slug %}" rel="tag">  #{{tag.name}}, </a>{% endfor %}</span>
                                    <!-- <input type="number" id="qty" class="form-control" value="1" min="1" max="10" step="1" data-decimals="0" required> -->
                                </div><!-- End .product-details-quantity -->
                            </div><!-- End .details-filter-row -->

                            <div>
                                <input type="number" value="1" id="product-quantity" class="product-quantity-{{ product.id }}">
                                <input type="hidden" class="product-title-{{ product.pid }}" value="{{ product.title }}">
                                <input type="hidden" class="product-pid-{{ product.id }}" value="{{ product.pro_id }}">
                                <input type="hidden" class="product-image-{{ product.id }}" value="{{ product.image.url }}">
                                <input type="hidden" class="product-id-{{ product.id }}" value="{{ product.id }}">
                                
                            </div>
                            <div class="product-details-action">
                                <a href="#" class="btn-product btn-cart add-to-cart-btn" data-index="{{ product.id }}" id="add-to-cart-btn"><span>add to cart</span></a>

                                <div class="details-action-wrapper">
                                    <a href="#" class="btn-product btn-wishlist" title="Wishlist"><span>Add to Wishlist</span></a>
                                    <a href="#" class="btn-product btn-compare" title="Compare"><span>Add to Compare</span></a>
                                </div><!-- End .details-action-wrapper -->
                            </div><!-- End .product-details-action -->

                            

                                <div class="social-icons social-icons-sm">
                                    <span class="social-label">Share:</span>
                                    <a href="#" class="social-icon" title="Facebook" target="_blank"><i class="icon-facebook-f"></i></a>
                                    <a href="#" class="social-icon" title="Twitter" target="_blank"><i class="icon-twitter"></i></a>
                                    <a href="#" class="social-icon" title="Instagram" target="_blank"><i class="icon-instagram"></i></a>
                                    <a href="#" class="social-icon" title="Pinterest" target="_blank"><i class="icon-pinterest"></i></a>
                                </div>
                            </div><!-- End .product-details-footer -->
                        </div><!-- End .product-details -->
                    </div><!-- End .col-md-6 -->
                </div><!-- End .row -->
            </div><!-- End .product-details-top -->

            <div class="product-details-tab">
                <ul class="nav nav-pills justify-content-center" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="product-desc-link" data-toggle="tab" href="#product-desc-tab" role="tab" aria-controls="product-desc-tab" aria-selected="true">Description</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="product-info-link" data-toggle="tab" href="#product-info-tab" role="tab" aria-controls="product-info-tab" aria-selected="false">Additional information</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="product-info-link" data-toggle="tab" href="#product-ino-tab" role="tab" aria-controls="product-info-tab" aria-selected="false">Vendor</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="product-shipping-link" data-toggle="tab" href="#product-shipping-tab" role="tab" aria-controls="product-shipping-tab" aria-selected="false">Shipping & Returns</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="product-review-link" data-toggle="tab" href="#product-review-tab" role="tab" aria-controls="product-review-tab" aria-selected="false">Reviews ({{review.count}})</a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane fade show active" id="product-desc-tab" role="tabpanel" aria-labelledby="product-desc-link">
                        <div class="product-desc-content">
                            <h3>Product Information</h3>
                            <p>{{ product.description|safe }}. </p>
                            <!-- <ul>
                                <li>Nunc nec porttitor turpis. In eu risus enim. In vitae mollis elit. </li>
                                <li>Vivamus finibus vel mauris ut vehicula.</li>
                                <li>Nullam a magna porttitor, dictum risus nec, faucibus sapien.</li>
                            </ul>

                            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros. Nullam malesuada erat ut turpis. Suspendisse urna viverra non, semper suscipit, posuere a, pede. Donec nec justo eget felis facilisis fermentum. Aliquam porttitor mauris sit amet orci. Aenean dignissim pellentesque felis. Phasellus ultrices nulla quis nibh. Quisque a lectus. Donec consectetuer ligula vulputate sem tristique cursus. </p> -->
                        </div><!-- End .product-desc-content -->
                    </div><!-- .End .tab-pane -->
                    <div class="tab-pane fade" id="product-info-tab" role="tabpanel" aria-labelledby="product-info-link">
                        <div class="product-desc-content">
                            <h3>Information</h3>
                            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros. Nullam malesuada erat ut turpis. Suspendisse urna viverra non, semper suscipit, posuere a, pede. Donec nec justo eget felis facilisis fermentum. Aliquam porttitor mauris sit amet orci. </p>

                            <h3>Fabric & care</h3>
                            <ul>
                                <li>Faux suede fabric</li>
                                <li>Gold tone metal hoop handles.</li>
                                <li>RI branding</li>
                                <li>Snake print trim interior </li>
                                <li>Adjustable cross body strap</li>
                                <li> Height: 31cm; Width: 32cm; Depth: 12cm; Handle Drop: 61cm</li>
                            </ul>

                            <h3>Size</h3>
                            <p>one size</p>
                        </div><!-- End .product-desc-content -->
                    </div><!-- .End .tab-pane -->
                    <div class="tab-pane fade" id="product-ino-tab" role="tabpanel" aria-labelledby="product-info-link">
                        <div class="product-desc-content">
                            <div class="col-lg-6 mb-2 mb-lg-0">
                                <h2 class="title mb-1">Contact Information</h2><!-- End .title mb-2 -->
                                <p class="mb-3">Vestibulum volutpat, lacus a ultrices sagittis, mi neque euismod dui, eu pulvinar nunc sapien ornare nisl. Phasellus pede arcu, dapibus eu, fermentum et, dapibus sed, urna.</p>
                                <div class="row">
                                    <div class="col-sm-7">
                                        <div class="contact-info px-5">
                                            <h3>Delivery</h3>
    
                                            <ul class="contact-list">
                                                <div>
                                                    <li>
                                                        <i class="icon-map-marker"></i>
                                                        <span><p>{{ address.address }}</p></span>
    
                                                        {% if address.status == True %}
                                                        <span class="text-success">Verified address</span>
                                                        {% else %}
                                                        <span class="text-danger">Unverified address</span>
                                                        {% endif %}
                                                        <!-- <a href="" class="change float-end">Changes</a> -->
                                                    </li>
                                                </div>
                                                <h3>Return & Warranty</h3>
                                                <li>
                                                    <!-- <i class="icon-phone"></i> -->
                                                    <a href="tel:#">{{product.vendor.authentic_rating}}% Authentic</a>
                                                </li>
                                                <li>
                                                    <!-- <i class="icon-envelope"></i> -->
                                                    <a href="mailto:#">{{product.vendor.days_return}} Days return</a>
                                                </li>
                                                <li>
                                                
                                                    <a href="mailto:#">{{product.vendor.warranty_period}} Months Warranty</a>
                                                </li>
                                            </ul><!-- End .contact-list -->
                                        </div><!-- End .contact-info -->
                                    </div><!-- End .col-sm-7 -->
    
                                    <div class="col-sm-5">
                                        <div class="contact-info">
                                            <h3>Vendor</h3>
    
                                            <ul class="contact-list">
                                                <li>
                                                    <a href="#">
                                                        <img src="{{ product.vendor.image.url }}" alt="Product image" class="product-image">
                                                    </a>
                                                    <h3 class="product-title"><a href="#">{{ product.vendor.title }}</a></h3><!-- End .product-title -->
                                                </li>
                                                <li>
                                                    <i class="icon-map-marker"></i>
                                                        <span><p>{{ product.vendor.address }}</p></span>
                                                        
                                                </li>
                                                <li>
                                                    <i class="icon-phone"></i>
                								<a href="tel:#">{{ product.vendor.contact }}</a>
                                                </li>
                                                <li>
                                                    <!-- <i class="icon-phone"></i> -->
                								<a href="tel:#">{{ product.vendor.shipping_time }}% Shipping on time</a>
                                                </li>
                                                <li>
                                                    <!-- <i class="icon-phone"></i> -->
                								<a href="tel:#">{{ product.vendor.chat_resp_time }}% Chat response</a>
                                                </li>
                                                <!-- <li>
                                                    <i class="icon-calendar"></i>
                                                    <span class="text-dark">Sunday</span> <br>11am-6pm ET
                                                </li> -->
                                            </ul><!-- End .contact-list -->
                                        </div><!-- End .contact-info -->
                                    </div><!-- End .col-sm-5 -->
                                </div><!-- End .row -->
                            </div><!-- End .col-lg-6 -->
                        </div><!-- End .product-desc-content -->
                    </div><!-- .End .tab-pane -->
                    <div class="tab-pane fade" id="product-shipping-tab" role="tabpanel" aria-labelledby="product-shipping-link">
                        <div class="product-desc-content">
                            <h3>Delivery & returns</h3>
                            <p>We deliver to over 100 countries around the world. For full details of the delivery options we offer, please view our <a href="#">Delivery information</a><br>
                            We hope you’ll love every purchase, but if you ever need to return an item you can do so within a month of receipt. For full details of how to make a return, please view our <a href="#">Returns information</a></p>
                        </div><!-- End .product-desc-content -->
                    </div><!-- .End .tab-pane -->
                    <div class="tab-pane fade" id="product-review-tab" role="tabpanel" aria-labelledby="product-review-link">
                        <div class="reviews">
                            <h3>{{ review.count }}</h3>
                            {% for r in review %}
                            <div class="review">
                                <div class="row no-gutters">
                                    <div class="col-auto">
                                        <h4><a href="#">{{ r.user.username|title }}</a></h4>
                                        <div class="ratings-container">
                                            <div class="ratings">
                                                <div class="ratings-val" style="width: 80%;"></div><!-- End .ratings-val -->
                                            </div><!-- End .ratings -->
                                        </div><!-- End .rating-container -->
                                        <p>{{ average_rating.rating|floatformat }} out of 5</p>
                                        <span class="review-date">{{ r.date|date:"d m,y"}}</span>
                                    </div><!-- End .col -->
                                    <div class="col">
                                        <!-- <h4>Good, perfect size</h4> -->

                                        <div class="review-content">
                                            <p>{{ r.review }}</p>
                                        </div><!-- End .review-content -->

                                        <div class="review-action">
                                            <a href="#"><i class="icon-thumbs-up"></i>Helpful (2)</a>
                                            <a href="#"><i class="icon-thumbs-down"></i>Unhelpful (0)</a>
                                        </div><!-- End .review-action -->
                                    </div><!-- End .col-auto -->
                                </div><!-- End .row -->
                                
                            </div><!-- End .review -->
                            {% endfor %}

                            
                        </div><!-- End .reviews -->
                        <p>
                            <strong class="text-success" id="review-res"></strong>
                        </p>
                        <form action="{% url 'sitepages:review' product.pro_id %}" id="review-form" class="hide-comment-form" method="POST">
                            {% csrf_token %}

                            <div>
                                <h4 class="mt-3"  style=" color: green; font-weight: 700; font-size: large;">Add a review</h4>
                                {{review_form.review}}
                            </div>
                            <div style="color: #cc9966;">
                                <h5 class=""  style=" color: green; font-weight: 700; font-size: large;">Rating:</h5>
                                {{review_form.rating}}
                            </div>
                            <button class=" btn-2 btn-warning btn-lg active mt-2" role="submit" style="border-radius: 10px;">Submit Review</button>
                        </form>
                    </div><!-- .End .tab-pane -->
                </div><!-- End .tab-content -->
            </div><!-- End .product-details-tab -->
             
            {% if products %}
            <h2 class="title text-center mb-4">You May Also Like</h2><!-- End .title text-center -->
            {% endif %}

            <div class="owl-carousel owl-simple carousel-equal-height carousel-with-shadow" data-toggle="owl" 
                data-owl-options='{
                    "nav": false, 
                    "dots": true,
                    "margin": 20,
                    "loop": false,
                    "responsive": {
                        "0": {
                            "items":1
                        },
                        "480": {
                            "items":2
                        },
                        "768": {
                            "items":3
                        },
                        "992": {
                            "items":4
                        },
                        "1200": {
                            "items":4,
                            "nav": true,
                            "dots": false
                        }
                    }
                }'>
                {% for p in products %}
                <div class="product product-7 text-center">
                    <figure class="product-media">
                        <span class="product-label label-new">New</span>
                        <a href="{% url 'sitepages:product_det' p.pro_id %}">
                            <img src="{{ p.image.url }}" alt="Product image" class="product-image">
                        </a>

                        <div class="product-action-vertical">
                            <a href="#" class="btn-product-icon btn-wishlist btn-expandable"><span>add to wishlist</span></a>
                            <a href="popup/quickView.html" class="btn-product-icon btn-quickview" title="Quick view"><span>Quick view</span></a>
                            <a href="#" class="btn-product-icon btn-compare" title="Compare"><span>Compare</span></a>
                        </div><!-- End .product-action-vertical -->

                        <div class="product-action">
                            <a href="#" class="btn-product btn-cart" id="add-to-cart-btn"><span>add to cart</span></a>
                        </div><!-- End .product-action -->
                    </figure><!-- End .product-media -->

                    <div class="product-body">
                        <div class="product-cat">
                            <a href="#">{{ p.category }}</a>
                        </div><!-- End .product-cat -->
                        <h3 class="product-title"><a href="{% url 'sitepages:product_det' p.pro_id %}">{{ p.title }}</a></h3><!-- End .product-title -->
                        <div class="product-price">
                            ${{ p.price }}
                        </div><!-- End .product-price -->
                        <div class="ratings-container">
                            <div class="ratings">
                                <div class="ratings-val" style="width: 20%;"></div><!-- End .ratings-val -->
                            </div><!-- End .ratings -->
                            <span class="ratings-text">( 2 Reviews )</span>
                        </div><!-- End .rating-container -->
                         
                        <div class="product-nav product-nav-thumbs">
                            {% for p in pro_images %}
                            
                            <a href="#">
                                <img src="{{ p.images.url }}" alt="product desc">
                            </a>

                            {% endfor %}
                            
                        </div><!-- End .product-nav -->
                    </div><!-- End .product-body -->
                </div><!-- End .product -->
                {% endfor %}

                
            </div><!-- End .owl-carousel -->
        </div><!-- End .container -->
    </div><!-- End .page-content -->
</main><!-- End .main -->
{% endblock %}